.toast_alert__container {
  display: flex;
  margin: auto;
  width: 400px;
  color: white;
  font-family: sans-serif;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.toast_alert--success{
  border: 1px solid green;
  background: green;
}

.toast_alert--error{
  border: 1px solid red;
  background: red;
}

.alert_error__message-content {
}

.alert_error__message-code {
  display: inline-flex;
  margin-right: 5px;
}

.alert_error__message-text {
  display: inline-flex;
}

.alert_error__message-action {
}
